<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <title>Home</title>
</head>

<body>
    <canvas id="globe"></canvas>


    <div id="menu">
        <div class="d-flex row justify-content-center m-2 mx-3">
            <div class="d-flex ">
                <h3 id="countryName" class="pt-2">Earth</h3>
                <img id="countryFlag" class="" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Earth_Flag.png"
                    alt="a">
            </div>
            <hr>
            <div class="d-flex ">
                <h5 class="col-4" id="countryResume"></h5>
                <h5 class="col-8" id="countryHour" class="local_hour"></h5>
            </div>
        </div>

        <nav class="navbar navbar-light d-flex justify-content-center">
            <a class="d-flex navbar-brand mx-2">
                <div class="elm ">
                    <img (click)="loadSpotifyOption()"
                        src=" https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50"
                        height="30" alt="" id="spotifyButton">
                </div>
                <div class=" elm">
                    <img (click)="loadCitiesByCountry()"
                        src="https://upload.wikimedia.org/wikipedia/commons/8/80/GNOME_Weather_icon_2018.svg" width="50"
                        height="30" alt="">
                </div>
                <div class=" elm">
                    <img (click)="loadNewsByCountry()"
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d8/News_Paper_Flat_Icon.svg" width="50"
                        height="30" alt="">
                </div>
                <div class=" elm">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png"
                        width="29" height="26" alt="">
                </div>
                <div class=" elm">
                    <img (click)="loadYoutubeOption()"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/1024px-YouTube_social_red_circle_%282017%29.svg.png"
                        width="29" height="26" alt="">
                </div>
                <div class=" elm">
                    <img (click)="fetchRedditPosts()" src="http://svgur.com/i/2SL.svg" width="50" height="30" alt="">
                </div>
                <div class=" elm">
                    <img (click)="getPublications()"
                        src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Soccer_ball.svg" width="50" height="30"
                        alt="">
                </div>
            </a>
        </nav>

        <ng-container *ngIf="divContent === 'none'">
            <section class="scrollableMainSection ">
                <div id="item-song" class="song-grid col-12">
                    <div (click)="loadSpotifyOption()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2">
                            <img src=" https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="60"
                                height="40" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">Spotify Tendencies</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">Popular music trends</p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                    <div (click)="loadCitiesByCountry()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/GNOME_Weather_icon_2018.svg"
                                width="60" height="40" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">Weather</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">Weather on real time</p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                    <div (click)="loadNewsByCountry()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/News_Paper_Flat_Icon.svg"
                                width="60" height="40" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">Breaking News</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">About whats happening</p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                    <div (click)="loadYoutubeOption()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2 px-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/1024px-YouTube_social_red_circle_%282017%29.svg.png"
                                width="35" height="35" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">Youtube Tendencies</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">Popular videos</p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                    <div (click)="fetchRedditPosts()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2">
                            <img src="http://svgur.com/i/2SL.svg" width="55" height="35" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">Reddit Populars</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">Posts with most interaction </p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                    <div (click)="getPublications()"
                        class="menu-item song-item d-flex justify-content-center col-12 row">
                        <div class="img_div col-2 mb-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Soccer_ball.svg" width="55"
                                height="35" alt="" id="spotifyButton">
                        </div>
                        <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start mt-2">
                            <h6 class="title_song">User Publications</h6>
                            <div class=" d-flex col  ">
                                <p class="main-menu-subtitle">User posts by country </p>
                                <!-- <p class="px-2">Album</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-container>

        <ng-container *ngIf="divContent === 'spotify'">
            <div id="spotify-section" class="">
                <div class="header-spotify d-flex justify-content-around align-items-center  text-center">
                    <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <select (change)="loadSpotifyOption()" class="spotify-select form-select w-50 pt-2"
                        id="spotifyQuery" aria-label="Default select example">
                        <option value="songs">Top songs</option>
                        <option value="artists">Popular artists</option>
                        <option value="playlists">Top playlists</option>
                        <option value="genres">Top genres</option>
                    </select>
                </div>
                <section class="scrollableSection">
                    <ng-container *ngIf="section === 'spotify_songs'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let song of songs" class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ song.songImage }}" width="65" height="62">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ song.title }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ song.artist }}</p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div (click)="playPreview()" id="{{ song.urlPreview }}"
                                    class="song-preview pt-3 col-2 text-start">
                                    <i class="play-button fas fa-play"></i>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="section === 'spotify_playlists'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let playlist of playlists"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ playlist.image }}" width="65" height="62">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ playlist.name }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ playlist.owner }}</p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div class="song-preview playlist-link pt-3 col-2 text-start">
                                    <a href="{{ playlist.tracksUrl }}" class="song-preview">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="section === 'spotify_genres'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let genre of genres"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ genre.image }}" width="65" height="62">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ genre.name }}</h6>
                                </div>

                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="section === 'spotify_artists'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let artist of artists"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ artist.image }}" width="52" height="55">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ artist.name }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ artist.followers }}</p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div class="song-preview pt-3 col-2 text-start">
                                    <a href="{{ artist.artistPage }}" class="song-preview">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
            <ng-container (click)="adjustTextToDiv()"></ng-container>
        </ng-container>

        <ng-container *ngIf="divContent === 'weather'">
            <ng-container *ngIf="section === 'weather_grid'">
                <div id="spotify-section" class="">
                    <div class="header-spotify d-flex justify-content-around align-items-center text-center">
                        <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center"
                            style="color:rgb(29, 29, 208)">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <input type="text" (keyup)="loadSpecificCity()" id="search-weather-input" name="q"
                            placeholder="Search...">
                    </div>
                    <section class="scrollableSection">
                        <div id="item-song" class="song-grid col-12">
                            <div (click)="weatherForCity()" id="{{city}}" *ngFor="let city of citiesSelected"
                                class="weather-item song-item d-flex justify-content-center col-12 row">
                                <div id="{{city}}" class="img_div col-3">
                                    <img id="{{city}}" class="pb-2" src="https://www.svgrepo.com/show/159325/city.svg"
                                        width="52" height="55">
                                </div>
                                <div id="{{city}}"
                                    class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 id="{{city}}" class="title_song px-1">{{city}}</h6>
                                    <div id="{{city}}" class=" d-flex col px-1 ">
                                        <p></p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div class="weather-icon pt-3 col-2 text-start">
                                    <a href="" class="weather-icon">
                                        <i class="fas fa-cloud-moon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </ng-container>
            <ng-container *ngIf="section === 'weather_file'">
                <div class=" ">
                    <div class="header-weather-file d-flex justify-start align-items-center text-center">
                        <div (click)="loadCitiesGrid()" class="back-menu " style="color:rgb(29, 29, 208)">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>
                    <section class="weather-file-content gradient">
                        <div class="d-flex justify-content-center row text-center pt-2 px-3 title-weather ">
                            <div class="d-flex justify-content-center  w-25" style="color: aliceblue;">
                                <h2 class="">{{weatherFile.city}}</h2>
                            </div>
                            <div class="d-flex row justify-content-space-between ">
                                <div class="col-6">
                                    <img class="" src="{{weatherFile.iconUrl}}" width="60" height="60">
                                </div>
                                <div class=" d-flex col-6 text-start align-items-center ">
                                    <h4 class=" text-shadow">{{weatherFile.temperature}} º</h4>
                                </div>
                            </div>
                            <div class="d-flex row justify-content-center col-12 mx-2 ">
                                <div class="col-9 d-flex justify-content-center ">
                                    <div class="col-12 pt-1 pb-2">
                                        <h4 style="color: rgb(0, 0, 52); text-transform: capitalize; ">
                                            <strong>{{weatherFile.description}}</strong>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-space-between ">
                                    <div class="col-6">
                                        <h5>Wind Speed </h5>
                                    </div>
                                    <div class="col-6 ">
                                        <h5 class="temperature w-100 ">{{weatherFile.windSpeed}} km / h</h5>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-space-between ">
                                    <div class="col-6">
                                        <h5>Humidity </h5>
                                    </div>
                                    <div class="col-6 ">
                                        <h5 class="temperature w-100 ">{{weatherFile.humidity}} %</h5>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-space-between ">
                                    <div class="col-6">
                                        <h5>Pressure </h5>
                                    </div>
                                    <div class="col-6 ">
                                        <h5 class="temperature w-100 ">{{weatherFile.pressure}} mBar</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="divContent==='news'">
            <ng-container *ngIf="section === 'news_grid'">
                <div id="spotify-section" class="">
                    <div class="header-spotify d-flex justify-content-around align-items-center text-center">
                        <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center"
                            style="color:rgb(29, 29, 208)">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <input type="text" (keyup)="loadSpecificCity()" id="search-weather-input" name="q"
                            placeholder="Search...">
                    </div>
                    <section class="scrollableSection">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let new of news"
                                class="weather-item song-item d-flex justify-content-center col-12 row">
                                <div class="pt-2 col-9 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{new.title}}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{new.author}}</p>
                                        <p class="px-2">{{new.source}}</p>
                                    </div>
                                </div>
                                <div class="weather-icon pt-4 col-2 text-start">
                                    <a href="{{new.url}}" class="weather-icon">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </ng-container>
        </ng-container>


        <ng-container *ngIf="divContent === 'youtube'">
            <div id="youtube-section" class="">
                <div class="header-youtube d-flex justify-content-around align-items-center  text-center">
                    <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center">
                        <i style="color:white" class="fas fa-arrow-left"></i>
                    </div>
                    <select (change)="loadYoutubeOption()" class="youtube-select form-select w-50 pt-2"
                        id="spotifyQuery" aria-label="Default select example">
                        <option value="videos"><strong>Top videos</strong></option>
                        <option value="channels"><strong>Top channels</strong></option>
                        <option value="categories"><strong>Top categories</strong></option>
                    </select>
                </div>
                <section class="scrollableSection">
                    <ng-container *ngIf="section === 'youtube_videos'">
                        <div id="item-song" class="song-grid col-12">

                            <div *ngFor="let video of videos"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-2 justify-content-start video-youtube">
                                    <img class="pb-2" src="{{ video.thumbnails }}" width="97" height="75">
                                </div>
                                <div
                                    class="pt-2 col-7 px-2 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_video px-1">{{ video.title }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ video.channel }}</p>
                                        <!-- <p class="px-2">{{video.description}}</p> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="section === 'youtube_playlists'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let playlist of playlists"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ playlist.image }}" width="65" height="62">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ playlist.name }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ playlist.owner }}</p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div class="song-preview playlist-link pt-3 col-2 text-start">
                                    <a href="{{ playlist.tracksUrl }}" class="song-preview">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="section === 'youtube_categories'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let category of categories"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2"
                                        src="https://i.pinimg.com/564x/e3/80/68/e38068e8c569dda6fbf9a7619b7b32e1.jpg"
                                        width="65" height="62">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ category.category }}</h6>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="section === 'youtube_channels'">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let artist of artists"
                                class="song-item d-flex justify-content-center col-12 row">
                                <div class="img_div col-3">
                                    <img class="pb-2" src="{{ artist.image }}" width="52" height="55">
                                </div>
                                <div class="pt-2 col-7 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{ artist.name }}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{ artist.followers }}</p>
                                        <!-- <p class="px-2">Album</p> -->
                                    </div>
                                </div>
                                <div class="song-preview pt-3 col-2 text-start">
                                    <a href="{{ artist.artistPage }}" class="song-preview">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
            <ng-container (click)="adjustTextToDiv()"></ng-container>
        </ng-container>
        <ng-container *ngIf="divContent === 'reddit'">
            <ng-container *ngIf="section === 'reddit_grid'">
                <div id="spotify-section" class="">
                    <div class="header-reddit d-flex justify-content-around align-items-center text-center">
                        <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center"
                            style="color:rgb(255, 255, 255)">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <select class="reddit-select form-select w-50 pt-2" id="spotifyQuery"
                            aria-label="Default select example">
                            <option value="month"><strong>Month</strong></option>
                            <option value="week"><strong>Week</strong></option>
                            <option value="year"><strong>Year</strong></option>
                        </select>
                    </div>
                    <section class="scrollableSection">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let post of redditPosts"
                                class="weather-item song-item d-flex justify-content-center col-12 row">
                                <div class="pt-2 col-9 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{post.title}}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{post.author}}</p>
                                        <p class="px-2">{{post.score}} score</p>
                                    </div>
                                </div>
                                <div class="weather-icon pt-4 col-2 text-start">
                                    <a href="{{post.url}}" class="reddit-icon">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </ng-container>
        </ng-container>
        <ng-container *ngIf="divContent === 'publications'">
            <ng-container *ngIf="section === 'publications_grid'">
                <div id="spotify-section" class="">
                    <div class="header-publications d-flex justify-content-around align-items-center text-center">
                        <div (click)="loadMainMenu()" class="back-menu d-flex align-items-center"
                            style="color:rgb(255, 255, 255)">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <select class="reddit-select form-select w-50 pt-2" id="spotifyQuery"
                            aria-label="Default select example">
                            <option value="relevance"><strong>Relevance</strong></option>
                            <option value="date"><strong>Date</strong></option>
                        </select>
                    </div>
                    <section class="scrollableSection">
                        <div id="item-song" class="song-grid col-12">
                            <div *ngFor="let post of publications"
                                class="weather-item song-item d-flex justify-content-center col-12 row">
                                <div class="pt-2 col-10 d-flex row text-start justify-content-start align-items-start">
                                    <h6 class="title_song px-1">{{post.title}}</h6>
                                    <div class=" d-flex col px-1 ">
                                        <p>{{post.usertag}}</p>
                                        <p class="px-2">{{post.date}} </p>
                                    </div>
                                </div>
                                <div class="weather-icon pt-4 col-2 text-start">
                                    <a href="#" class="publication-icon">
                                        <i class="fas fa-thumbs-up"></i> </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </ng-container>
        </ng-container>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/three@0.136.0/build/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/230399/threeGeoJSON.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.js"
        integrity="sha512-51xEUbZobtzTG53DuETlzoOZk9cWBiEXV/5Mh7m1htisZLZS4pIHP29J/61/t47rL5Yo0ZCzaeaKLabxdurSJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="module" src="./js/operation2.js"></script>
</body>

</html>