<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3 Library</title>
</head>

<body>
    <div id="menu">
        <nav>
            <ul>
                <li><a href="#seccion1">Sección 1</a></li>
                <li><a href="#seccion2">Sección 2</a></li>
                <li><a href="#seccion3">Sección 3</a></li>
                <li><a href="#seccion4">Sección 4</a></li>
                <li><a href="#seccion5">Sección 5</a></li>
            </ul>
        </nav>
        <section id="seccion1">
            <h2>Contenido de la sección 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris euismod, consequat tellus in,
                bibendum felis. Integer vitae ex eu nisi vestibulum pharetra. Maecenas sit amet turpis sed massa
                efficitur aliquet ac in ex.</p>
        </section>
        <section id="seccion2">
            <h2>Contenido de la sección 2</h2>
            <p>Suspendisse potenti. Aenean volutpat, ipsum vel sagittis bibendum, quam turpis ultrices tellus, non
                semper nulla sapien sit amet velit. Nullam nec massa euismod, gravida sapien nec, maximus mi. Vivamus a
                turpis enim.</p>
        </section>
        <section id="seccion3">
            <h2>Contenido de la sección 3</h2>
            <p>Phasellus vel quam eu nisl eleifend euismod. Duis lacinia turpis vel mauris consectetur, non convallis
                leo malesuada. Sed maximus odio vel ligula pellentesque, at interdum ipsum ultricies. Quisque faucibus,
                odio in bibendum blandit, justo lacus venenatis turpis, vel feugiat orci velit id est.</p>
        </section>
        <section id="seccion4">
            <h2>Contenido de la sección 4</h2>
            <p>Cras non suscipit libero, in sodales ex. Pellentesque tincidunt imperdiet ipsum, eget ultrices odio
                pulvinar vel. Sed consectetur metus eu arcu volutpat, sed mollis nisl pretium. Fusce imperdiet tincidunt
                est vitae aliquam.</p>
        </section>
        <section id="seccion5">
            <h2>Contenido de la sección 5</h2>
            <p>Morbi lobortis dolor in turpis suscipit, id scelerisque lorem sollicitudin. Fusce convallis, elit sit
                amet efficitur sollicitudin, mauris eros molestie neque, non euismod mi enim non nisl. Vestibulum ac
                lacus massa.</p>
        </section>
    </div>
    <canvas id="globe"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/three@0.136.0/build/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/230399/threeGeoJSON.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.js"
        integrity="sha512-51xEUbZobtzTG53DuETlzoOZk9cWBiEXV/5Mh7m1htisZLZS4pIHP29J/61/t47rL5Yo0ZCzaeaKLabxdurSJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="module" src="./js/operation2.js"></script>
</body>

</html>