body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #0c002a 0%, black 50%, #0c002a 95%);
}



canvas:hover {
    cursor: pointer;
}



.country {
    transition: fill 0.5s;
}

.selectedCountry {
    z-index: 10;
}

.deselectedCountry {
    z-index: 0;
}

.globe {
    background-color: blueviolet;
}

#menu {
    margin: 2%;
    width: 340px;
    height: 50%;
    margin-top: 425px;
    position: absolute;
    z-index: 15;
    background-color: aliceblue;
    border-radius: 15px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#menu :hover {}


.local_hour {
    padding-left: 120px;
}

.title_song {
    font-family: sans-serif;
    font-size: large;
    font-weight: 600;
}

.title_video {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.subtitle_video {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}


.info {
    position: fixed;
    top: 0;
    margin-top: 2%;
    margin-left: 2%;
    color: black;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 20px;
}


svg {
    position: absolute;
}

canvas {
    position: absolute;
    z-index: 5;

}

.graticule {
    background-color: navy;
    z-index: -3;
}


.sphere {
    cursor: pointer;
}

#countryFlag {
    width: 65px;
    height: 40px;
    padding-top: 3px;
    padding-left: 15px;
}

.elm {
    // width: 10px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elm:hover {
    opacity: 0.5;
    cursor: pointer;
}

.scrollableMainSection {
    background-color: rgb(39, 35, 43);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 345px;
    overflow: scroll;
}

.scrollableSection {
    background-color: rgb(39, 35, 43);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 255px;
    overflow: scroll;
}

.song-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-rows: 70px;
    gap: 3px;
    margin-bottom: 10px;
}

.main-menu-subtitle {
    font-size: 17px;
}

.song-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 0px !important;
    margin-right: 0px !important;
    // height: 75px;
}

.menu-item {
    cursor: pointer;
}

.menu-item:hover {

    opacity: 0.85;
    background-color: rgba(0, 0, 0, 0.786);
}

.song-preview {
    color: white;
    transition: transform 0.3s ease-in-out;
}

.weather-icon {
    color: rgb(246, 246, 227) !important;
    transition: transform 0.3s ease-in-out;
}

.weather-icon :hover {
    transform: scale(1.2);
    color: rgb(30, 95, 215);
    cursor: pointer;
}

.weather-item {
    opacity: 0.85;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.weather-item:hover {
    opacity: 0.85;
    background-color: rgb(49, 48, 48);
}



.song-preview :hover {
    transform: scale(1.2);
    color: rgb(30 215 96);
    cursor: pointer;
}



.header-spotify {
    height: 4em;
}

#spotify-section {
    background-color: rgb(23, 21, 25);
    color: rgb(30 215 96);
    margin-top: 2%;
}

.spotify-select {
    background-color: rgb(39, 35, 43);
    color: white;
    cursor: pointer;
}

.youtube-select {
    background-color: #9d2622;
    color: white;
    cursor: pointer;
}

.back-menu {
    transition: transform 0.15s ease-in-out;
    border-radius: 50px;
    background-color: rgb(39, 35, 43);
    width: 10%;
    cursor: pointer;
    color: rgb(30 215 96);
}

.back-menu:hover {
    transform: scale(1.15);
    color: rgba(255, 255, 255, 0.915);
}

.title-movable {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    animation: rotar 5s linear infinite;
    transform-origin: left center;
}

@keyframes rotation-text {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.playlist-link {}



.header-weather-file {
    background-color: rgb(39, 35, 43);
    height: 2em;
}

.weather-file-content {

    width: 105%;
    height: 337px;
}

.gradient {
    background: linear-gradient(to bottom, #122b58, #5791d4);
}

.title-weather {
    height: 30px;
    color: aliceblue;
    width: 100%;
}

.temperature {
    box-shadow: 2px 2px 4px #06011c;
}

.text-shadow {
    text-shadow: 2px 2px 4px #06011c;
}

.video-youtube {
    margin-left: -45px !important;
}

.header-youtube {
    height: 4em;
    background-color: #c4302b;

}