<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">




    <title>D3 Library</title>
</head>

<body>
    <div id="menu">
        <div class="d-flex row justify-content-center m-2 mx-3">
            <div class="d-flex ">
                <h3 id="countryName" class="pt-2">Earth</h3>
                <img id="countryFlag" class="" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Earth_Flag.png"
                    alt="a">
            </div>
            <hr>
            <div class="d-flex ">
                <h5 class="col-4" id="countryResume"></h5>
                <h5 class="col-8" id="countryHour" class="local_hour"></h5>
            </div>
        </div>
        <!-- <nav>
            <ul class="d-flex">
                <li>
                    <div><i class="fas fa-home"></i></div>
                </li>
                <li>
                    <div><i class="fas fa-home"></i></div>
                </li>
                <li>
                    <div><i class="fas fa-home"></i></div>
                </li>

            </ul>
        </nav> -->
        <nav class="navbar navbar-light  justify-content-center mb-4">
            <a class="navbar-brand mx-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="" id="spotifyButton">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="50" height="30"
                    class="d-inline-block align-top elm" alt="">
            </a>
        </nav>

        <div *ngIf="divContent==='spotify'">
            <p>mostrando seccion</p>
        </div>

    </div>
    <canvas id="globe"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/three@0.136.0/build/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/230399/threeGeoJSON.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.js"
        integrity="sha512-51xEUbZobtzTG53DuETlzoOZk9cWBiEXV/5Mh7m1htisZLZS4pIHP29J/61/t47rL5Yo0ZCzaeaKLabxdurSJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="module" src="./js/operation2.js"></script>
</body>

</html>