<mat-card>
    <mat-card-header>
        <div class="container-logo">
            <img class='img-logo' src="../../../assets/img/allaboutLogo.png">
        </div>
        <mat-card-title>
            <p class="font">Sign in</p>
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input class="input-mail" matInput placeholder="Add your mail" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input class="input-password" matInput type="password" placeholder="Add your password" />
            </mat-form-field>
            <div class="signup-container">
                <a routerLink="/register" class="signup">Don't have an account?</a>
            </div>
            <button (click)="signIn()" mat-raised-button color="primary">SIGN IN</button>
        </form>
    </mat-card-content>
</mat-card>
<div class="bg-animation">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
</div>