doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Home
  include template.pug 
      .content-wrapper
        .row
          .col-sm-12
            .home-tab
              .d-sm-flex.align-items-center.justify-content-between.border-bottom
                ul.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a#home-tab.nav-link.active.ps-0(data-bs-toggle='tab' href='#overview' role='tab' aria-controls='overview' aria-selected='true') Overview
                  li.nav-item
                    a#profile-tab.nav-link(data-bs-toggle='tab' href='#audiences' role='tab' aria-selected='false') Audiences
                  li.nav-item
                    a#contact-tab.nav-link(data-bs-toggle='tab' href='#demographics' role='tab' aria-selected='false') Demographics
                  li.nav-item
                    a#more-tab.nav-link.border-0(data-bs-toggle='tab' href='#more' role='tab' aria-selected='false') More
                div
                  .btn-wrapper
                    a.btn.btn-otline-dark.align-items-center(href='#')
                      i.icon-share
                      |  Share
                    a.btn.btn-otline-dark(href='#')
                      i.icon-printer
                      |  Print
                    a.btn.btn-primary.text-white.me-0(href='#')
                      i.icon-download
                      |  Export
              .tab-content.tab-content-basic
                #overview.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='overview')
                  .row
                    .col-sm-12
                      .statistics-details.d-flex.align-items-center.justify-content-between
                        div
                          p.statistics-title Bounce Rate
                          h3.rate-percentage 32.53%
                          p.text-danger.d-flex
                            i.mdi.mdi-menu-down
                            span -0.5%
                        div
                          p.statistics-title Page Views
                          h3.rate-percentage 7,682
                          p.text-success.d-flex
                            i.mdi.mdi-menu-up
                            span +0.1%
                        div
                          p.statistics-title New Sessions
                          h3.rate-percentage 68.8
                          p.text-danger.d-flex
                            i.mdi.mdi-menu-down
                            span 68.8
                        .d-none.d-md-block
                          p.statistics-title Avg. Time on Site
                          h3.rate-percentage 2m:35s
                          p.text-success.d-flex
                            i.mdi.mdi-menu-down
                            span +0.8%
                        .d-none.d-md-block
                          p.statistics-title New Sessions
                          h3.rate-percentage 68.8
                          p.text-danger.d-flex
                            i.mdi.mdi-menu-down
                            span 68.8
                        .d-none.d-md-block
                          p.statistics-title Avg. Time on Site
                          h3.rate-percentage 2m:35s
                          p.text-success.d-flex
                            i.mdi.mdi-menu-down
                            span +0.8%
                  .row
                    .col-lg-8.d-flex.flex-column
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .d-sm-flex.justify-content-between.align-items-start
                                div
                                  h4.card-title.card-title-dash Market Overview
                                  p.card-subtitle.card-subtitle-dash Lorem ipsum dolor sit amet consectetur adipisicing elit
                                div
                                  .dropdown
                                    button#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle.toggle-dark.btn-lg.mb-0.me-0(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  This month 
                                    .dropdown-menu(aria-labelledby='dropdownMenuButton2')
                                      h6.dropdown-header Settings
                                      a.dropdown-item(href='#') Action
                                      a.dropdown-item(href='#') Another action
                                      a.dropdown-item(href='#') Something else here
                                      .dropdown-divider
                                      a.dropdown-item(href='#') Separated link
                              .d-sm-flex.align-items-center.mt-1.justify-content-between
                                .d-sm-flex.align-items-center.mt-4.justify-content-between
                                  h2.me-2.fw-bold $36,2531.00
                                  h4.me-2 USD
                                  h4.text-success (+1.37%)
                                .me-3
                                  #marketing-overview-legend
                              .chartjs-bar-wrapper.mt-3
                                canvas#marketingOverview
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .d-sm-flex.justify-content-between.align-items-start
                                div
                                  h4.card-title.card-title-dash Pending Requests
                                  p.card-subtitle.card-subtitle-dash You have 50+ new requests
                                div
                                  button.btn.btn-primary.btn-lg.text-white.mb-0.me-0(type='button')
                                    i.mdi.mdi-account-plus
                                    | Add new member
                              .table-responsive.mt-1
                                table.table.select-table
                                  thead
                                    tr
                                      th
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      th Customer
                                      th Company
                                      th Progress
                                      th Status
                                  tbody
                                    tr
                                      td
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      td
                                        .d-flex
                                          img(src='images/faces/face1.jpg' alt='')
                                          div
                                            h6 Brandon Washington
                                            p Head admin
                                      td
                                        h6 Company name 1
                                        p company type
                                      td
                                        div
                                          .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                            p.text-success 79%
                                            p 85/162
                                          .progress.progress-md
                                            .progress-bar.bg-success(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                                      td
                                        .badge.badge-opacity-warning In progress
                                    tr
                                      td
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      td
                                        .d-flex
                                          img(src='images/faces/face2.jpg' alt='')
                                          div
                                            h6 Laura Brooks
                                            p Head admin
                                      td
                                        h6 Company name 1
                                        p company type
                                      td
                                        div
                                          .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                            p.text-success 65%
                                            p 85/162
                                          .progress.progress-md
                                            .progress-bar.bg-success(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
                                      td
                                        .badge.badge-opacity-warning In progress
                                    tr
                                      td
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      td
                                        .d-flex
                                          img(src='images/faces/face3.jpg' alt='')
                                          div
                                            h6 Wayne Murphy
                                            p Head admin
                                      td
                                        h6 Company name 1
                                        p company type
                                      td
                                        div
                                          .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                            p.text-success 65%
                                            p 85/162
                                          .progress.progress-md
                                            .progress-bar.bg-warning(role='progressbar' style='width: 38%' aria-valuenow='38' aria-valuemin='0' aria-valuemax='100')
                                      td
                                        .badge.badge-opacity-warning In progress
                                    tr
                                      td
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      td
                                        .d-flex
                                          img(src='images/faces/face4.jpg' alt='')
                                          div
                                            h6 Matthew Bailey
                                            p Head admin
                                      td
                                        h6 Company name 1
                                        p company type
                                      td
                                        div
                                          .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                            p.text-success 65%
                                            p 85/162
                                          .progress.progress-md
                                            .progress-bar.bg-danger(role='progressbar' style='width: 15%' aria-valuenow='15' aria-valuemin='0' aria-valuemax='100')
                                      td
                                        .badge.badge-opacity-danger Pending
                                    tr
                                      td
                                        .form-check.form-check-flat.mt-0
                                          label.form-check-label
                                            input.form-check-input(type='checkbox' aria-checked='false')
                                            i.input-helper
                                      td
                                        .d-flex
                                          img(src='images/faces/face5.jpg' alt='')
                                          div
                                            h6 Katherine Butler
                                            p Head admin
                                      td
                                        h6 Company name 1
                                        p company type
                                      td
                                        div
                                          .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                            p.text-success 65%
                                            p 85/162
                                          .progress.progress-md
                                            .progress-bar.bg-success(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
                                      td
                                        .badge.badge-opacity-success Completed
                      .row.flex-grow
                        .col-md-6.col-lg-6.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body.card-rounded
                              h4.card-title.card-title-dash Recent Events
                              .list.align-items-center.border-bottom.py-2
                                .wrapper.w-100
                                  p.mb-2.font-weight-medium
                                    | Change in Directors
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.align-items-center
                                      i.mdi.mdi-calendar.text-muted.me-1
                                      p.mb-0.text-small.text-muted Mar 14, 2019
                              .list.align-items-center.border-bottom.py-2
                                .wrapper.w-100
                                  p.mb-2.font-weight-medium
                                    | Other Events
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.align-items-center
                                      i.mdi.mdi-calendar.text-muted.me-1
                                      p.mb-0.text-small.text-muted Mar 14, 2019
                              .list.align-items-center.border-bottom.py-2
                                .wrapper.w-100
                                  p.mb-2.font-weight-medium
                                    | Quarterly Report
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.align-items-center
                                      i.mdi.mdi-calendar.text-muted.me-1
                                      p.mb-0.text-small.text-muted Mar 14, 2019
                              .list.align-items-center.border-bottom.py-2
                                .wrapper.w-100
                                  p.mb-2.font-weight-medium
                                    | Change in Directors
                                  .d-flex.justify-content-between.align-items-center
                                    .d-flex.align-items-center
                                      i.mdi.mdi-calendar.text-muted.me-1
                                      p.mb-0.text-small.text-muted Mar 14, 2019
                              .list.align-items-center.pt-3
                                .wrapper.w-100
                                  p.mb-0
                                    a.fw-bold.text-primary(href='#')
                                      | Show all 
                                      i.mdi.mdi-arrow-right.ms-2
                        .col-md-6.col-lg-6.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .d-flex.align-items-center.justify-content-between.mb-3
                                h4.card-title.card-title-dash Activities
                                p.mb-0 20 finished, 5 remaining
                              ul.bullet-line-list
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Ben Tossell
                                      |  assign you a task
                                    p Just now
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Oliver Noah
                                      |  assign you a task
                                    p 1h
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Jack William
                                      |  assign you a task
                                    p 1h
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Leo Lucas
                                      |  assign you a task
                                    p 1h
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Thomas Henry
                                      |  assign you a task
                                    p 1h
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Ben Tossell
                                      |  assign you a task
                                    p 1h
                                li
                                  .d-flex.justify-content-between
                                    div
                                      span.text-light-green Ben Tossell
                                      |  assign you a task
                                    p 1h
                              .list.align-items-center.pt-3
                                .wrapper.w-100
                                  p.mb-0
                                    a.fw-bold.text-primary(href='#')
                                      | Show all 
                                      i.mdi.mdi-arrow-right.ms-2
                    .col-lg-4.d-flex.flex-column
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .row
                                .col-lg-12
                                  .d-flex.justify-content-between.align-items-center
                                    h4.card-title.card-title-dash Todo list
                                    .add-items.d-flex.mb-0
                                      // <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                                      button.add.btn.btn-icons.btn-rounded.btn-primary.todo-list-add-btn.text-white.me-0.pl-12p
                                        i.mdi.mdi-plus
                                  .list-wrapper
                                    ul.todo-list.todo-list-rounded
                                      li.d-block
                                        .form-check.w-100
                                          label.form-check-label
                                            input.checkbox(type='checkbox')
                                            |  Lorem Ipsum is simply dummy text of the printing 
                                            i.input-helper.rounded
                                          .d-flex.mt-2
                                            .ps-4.text-small.me-3 24 June 2020
                                            .badge.badge-opacity-warning.me-3 Due tomorrow
                                            i.mdi.mdi-flag.ms-2.flag-color
                                      li.d-block
                                        .form-check.w-100
                                          label.form-check-label
                                            input.checkbox(type='checkbox')
                                            |  Lorem Ipsum is simply dummy text of the printing 
                                            i.input-helper.rounded
                                          .d-flex.mt-2
                                            .ps-4.text-small.me-3 23 June 2020
                                            .badge.badge-opacity-success.me-3 Done
                                      li
                                        .form-check.w-100
                                          label.form-check-label
                                            input.checkbox(type='checkbox')
                                            |  Lorem Ipsum is simply dummy text of the printing 
                                            i.input-helper.rounded
                                          .d-flex.mt-2
                                            .ps-4.text-small.me-3 24 June 2020
                                            .badge.badge-opacity-success.me-3 Done
                                      li.border-bottom-0
                                        .form-check.w-100
                                          label.form-check-label
                                            input.checkbox(type='checkbox')
                                            |  Lorem Ipsum is simply dummy text of the printing 
                                            i.input-helper.rounded
                                          .d-flex.mt-2
                                            .ps-4.text-small.me-3 24 June 2020
                                            .badge.badge-opacity-danger.me-3 Expired
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .row
                                .col-lg-12
                                  .d-flex.justify-content-between.align-items-center.mb-3
                                    h4.card-title.card-title-dash Type By Amount
                                  canvas#doughnutChart.my-auto(height='200')
                                  #doughnut-chart-legend.mt-5.text-center
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .row
                                .col-lg-12
                                  .d-flex.justify-content-between.align-items-center.mb-3
                                    div
                                      h4.card-title.card-title-dash Leave Report
                                    div
                                      .dropdown
                                        button#dropdownMenuButton3.btn.btn-secondary.dropdown-toggle.toggle-dark.btn-lg.mb-0.me-0(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Month Wise 
                                        .dropdown-menu(aria-labelledby='dropdownMenuButton3')
                                          h6.dropdown-header week Wise
                                          a.dropdown-item(href='#') Year Wise
                                  .mt-3
                                    canvas#leaveReport
                      .row.flex-grow
                        .col-12.grid-margin.stretch-card
                          .card.card-rounded
                            .card-body
                              .row
                                .col-lg-12
                                  .d-flex.justify-content-between.align-items-center.mb-3
                                    div
                                      h4.card-title.card-title-dash Top Performer
                                  .mt-3
                                    .wrapper.d-flex.align-items-center.justify-content-between.py-2.border-bottom
                                      .d-flex
                                        img.img-sm.rounded-10(src='images/faces/face1.jpg' alt='profile')
                                        .wrapper.ms-3
                                          p.ms-1.mb-1.fw-bold Brandon Washington
                                          small.text-muted.mb-0 162543
                                      .text-muted.text-small
                                        | 1h ago
                                    .wrapper.d-flex.align-items-center.justify-content-between.py-2.border-bottom
                                      .d-flex
                                        img.img-sm.rounded-10(src='images/faces/face2.jpg' alt='profile')
                                        .wrapper.ms-3
                                          p.ms-1.mb-1.fw-bold Wayne Murphy
                                          small.text-muted.mb-0 162543
                                      .text-muted.text-small
                                        | 1h ago
                                    .wrapper.d-flex.align-items-center.justify-content-between.py-2.border-bottom
                                      .d-flex
                                        img.img-sm.rounded-10(src='images/faces/face3.jpg' alt='profile')
                                        .wrapper.ms-3
                                          p.ms-1.mb-1.fw-bold Katherine Butler
                                          small.text-muted.mb-0 162543
                                      .text-muted.text-small
                                        | 1h ago
                                    .wrapper.d-flex.align-items-center.justify-content-between.py-2.border-bottom
                                      .d-flex
                                        img.img-sm.rounded-10(src='images/faces/face4.jpg' alt='profile')
                                        .wrapper.ms-3
                                          p.ms-1.mb-1.fw-bold Matthew Bailey
                                          small.text-muted.mb-0 162543
                                      .text-muted.text-small
                                        | 1h ago
                                    .wrapper.d-flex.align-items-center.justify-content-between.pt-2
                                      .d-flex
                                        img.img-sm.rounded-10(src='images/faces/face5.jpg' alt='profile')
                                        .wrapper.ms-3
                                          p.ms-1.mb-1.fw-bold Rafell John
                                          small.text-muted.mb-0 Alaska, USA
                                      .text-muted.text-small
                                        | 1h ago
      // content-wrapper ends
      // partial:partials/_footer.html

script(src='../vendors/js/vendor.bundle.base.js')
// endinject
// Plugin js for this page
script(src='../vendors/chart.js/Chart.min.js')
script(src='../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')
script(src='../vendors/progressbar.js/progressbar.min.js')
// End plugin js for this page
// inject:js
script(src='js/off-canvas.js')
script(src='js/hoverable-collapse.js')
script(src='js/template.js')
script(src='js/settings.js')
script(src='js/todolist.js')
// endinject
// Custom js for this page
script(src='js/jquery.cookie.js' type='text/javascript')
script(src='js/dashboard.js')
script(src='js/Chart.roundedBarCharts.js')
// End custom js for this page
