doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Tables 
  include template.pug
      .content-wrapper
        .row
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                button#userAdd.button.btn.btn-primary.btn-lg.text-white.mb-3.me-3(type='button')
                  i.mdi.mdi-account-plus
                  | Add user
                h4.card-title Users table
                p.card-description
                  | Users data
                .table-responsive
                  table.table
                    thead
                      tr
                        th Name
                        th Surname
                        th Usertag
                        th Nationality
                        th Rank
                        th Admin
                        th Mail
                        th Password
                        th Address 
                    tbody#bodyUserContent
                     
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                button#eventAdd.button.btn.btn-primary.btn-lg.text-white.mb-3.me-3(type='button')
                  |Add event
                h4.card-title Events Table
                p.card-description
                  | Events Data 
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th Id 
                        th Title
                        th Content
                        th Category 
                        th Date 
                        th Upvotes 
                        th Description 
                        th Latitude
                        th Longitude
                    tbody#bodyEventContent
                     
          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                button#publicationAdd.button.btn.btn-primary.btn-lg.text-white.mb-3.me-3(type='button')
                  | Add publication
                h4.card-title Publications Table
                p.card-description
                  | Publications Data 
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th Id
                        th Content
                        th User owner 
                        th Category 
                        th Date 
                        th Upvotes 
                        th Description 
                        th Country
                    tbody#bodyPublicationContent


          .col-lg-12.grid-margin.stretch-card
            .card
              .card-body
                button#categoryAdd.button.btn.btn-primary.btn-lg.text-white.mb-3.me-3(type='button')
                  | Add category
                h4.card-title Category Table
                p.card-description
                  | Category Data 
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th Id
                        th Category name 
                        th Description 
                        th Popularity 
                    tbody#bodyCategoryContent

          .container.mt-5
  // Button trigger modal
  // page-body-wrapper ends
// container-scroller
// plugins:js
script(src='../vendors/js/vendor.bundle.base.js')
script(type='module' src='../js2/tables.js')

// endinject
// Plugin js for this page
script(src='../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')
// End plugin js for this page
// inject:js
script(src='../../js/off-canvas.js')
script(src='../../js/hoverable-collapse.js')
script(src='../../js/template.js')
script(src='../../js/settings.js')
script(src='../../js/todolist.js')
// endinject
// Custom js for this page
// End custom js for this page
