doctype html
head
  // Required meta tags
  meta(charset='utf-8')

  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  base(href="http://localhost:3000/")

  title Template
  // plugins:css
  link(rel='stylesheet' href='../vendors/feather/feather.css')
  link(rel='stylesheet' href='../vendors/mdi/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='../vendors/ti-icons/css/themify-icons.css')
  link(rel='stylesheet' href='../vendors/typicons/typicons.css')
  link(rel='stylesheet' href='../vendors/simple-line-icons/css/simple-line-icons.css')
  link(rel='stylesheet' href='../vendors/css/vendor.bundle.base.css')
  // endinject
  // Plugin css for this page
  // End plugin css for this page
  // inject:css
  link(rel='stylesheet' href='../css/style.css')
  // endinject
  link(rel='shortcut icon' href='../images/allaboutlogo.png')
  link(rel="icon", type="image/png", href="../images/allaboutlogo.png")

.container-scroller
  // partial:../../partials/_navbar.html
  nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.align-items-top.flex-row
    .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-start
      .me-3
        button.navbar-toggler.navbar-toggler.align-self-center(type='button' data-bs-toggle='minimize')
          span.icon-menu
      div
        a.navbar-brand.brand-logo(href='../../index.html')
          img(src='../images/allaboutletter.png' alt='logo')
        a.navbar-brand.brand-logo-mini(href='../../index.html')
          img(src='../images/allaboutlogo.png' alt='logo')
    .navbar-menu-wrapper.d-flex.align-items-top
      ul.navbar-nav
        li.nav-item.font-weight-semibold.d-none.d-lg-block.ms-0
          h1.welcome-text
            | Good Morning, 
            span#userName.text-black.fw-bold= name
          h3.welcome-sub-text Your performance summary this week 
      ul.navbar-nav.ms-auto

        li.nav-item
          form.search-form(action='#')
            i.icon-search
            input.form-control(type='search' placeholder='Search Here' title='Search here')
        li.nav-item.dropdown
          a#notificationDropdown.nav-link.count-indicator(href='#' data-bs-toggle='dropdown')
            i.icon-mail.icon-lg
          .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list.pb-0(aria-labelledby='notificationDropdown')
            a.dropdown-item.py-3.border-bottom
              p.mb-0.font-weight-medium.float-left You have 4 new notifications 
              span.badge.badge-pill.badge-primary.float-right View all
            a.dropdown-item.preview-item.py-3
              .preview-thumbnail
                i.mdi.mdi-alert.m-auto.text-primary
              .preview-item-content
                h6.preview-subject.fw-normal.text-dark.mb-1 Application Error
                p.fw-light.small-text.mb-0  Just now 
            a.dropdown-item.preview-item.py-3
              .preview-thumbnail
                i.mdi.mdi-settings.m-auto.text-primary
              .preview-item-content
                h6.preview-subject.fw-normal.text-dark.mb-1 Settings
                p.fw-light.small-text.mb-0  Private message 
            a.dropdown-item.preview-item.py-3
              .preview-thumbnail
                i.mdi.mdi-airballoon.m-auto.text-primary
              .preview-item-content
                h6.preview-subject.fw-normal.text-dark.mb-1 New user registration
                p.fw-light.small-text.mb-0  2 days ago 
        li.nav-item.dropdown
          a#countDropdown.nav-link.count-indicator(href='#' data-bs-toggle='dropdown' aria-expanded='false')
            i.icon-bell
            span.count
          .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list.pb-0(aria-labelledby='countDropdown')
            a.dropdown-item.py-3
              p.mb-0.font-weight-medium.float-left You have 7 unread mails 
              span.badge.badge-pill.badge-primary.float-right View all
            .dropdown-divider
            a.dropdown-item.preview-item
              .preview-thumbnail
                img.img-sm.profile-pic(src='../../images/faces/face10.jpg' alt='image')
              .preview-item-content.flex-grow.py-2
                p.preview-subject.ellipsis.font-weight-medium.text-dark Marian Garner 
                p.fw-light.small-text.mb-0  The meeting is cancelled 
            a.dropdown-item.preview-item
              .preview-thumbnail
                img.img-sm.profile-pic(src='../../images/faces/face12.jpg' alt='image')
              .preview-item-content.flex-grow.py-2
                p.preview-subject.ellipsis.font-weight-medium.text-dark David Grey 
                p.fw-light.small-text.mb-0  The meeting is cancelled 
            a.dropdown-item.preview-item
              .preview-thumbnail
                img.img-sm.profile-pic(src='../../images/faces/face1.jpg' alt='image')
              .preview-item-content.flex-grow.py-2
                p.preview-subject.ellipsis.font-weight-medium.text-dark Travis Jenkins 
                p.fw-light.small-text.mb-0  The meeting is cancelled 
        li.nav-item.dropdown.d-none.d-lg-block.user-dropdown
          a#UserDropdown.nav-link(href='#' data-bs-toggle='dropdown' aria-expanded='false')
            img.img-xs.rounded-circle(src='../../images/faces/face8.jpg' alt='Profile image')
          .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='UserDropdown')
            .dropdown-header.text-center
              img.img-md.rounded-circle(src='../../images/faces/face8.jpg' alt='Profile image')
              p.mb-1.mt-3.font-weight-semibold Allen Moreno
              p.fw-light.text-muted.mb-0 allenmoreno@gmail.com
            a.dropdown-item
              i.dropdown-item-icon.mdi.mdi-account-outline.text-primary.me-2
              |  My Profile 
              span.badge.badge-pill.badge-danger 1
            a.dropdown-item
              i.dropdown-item-icon.mdi.mdi-message-text-outline.text-primary.me-2
              |  Messages
            a.dropdown-item
              i.dropdown-item-icon.mdi.mdi-calendar-check-outline.text-primary.me-2
              |  Activity
            a.dropdown-item
              i.dropdown-item-icon.mdi.mdi-help-circle-outline.text-primary.me-2
              |  FAQ
            a.dropdown-item
              i.dropdown-item-icon.mdi.mdi-power.text-primary.me-2
              | Sign Out
      button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-bs-toggle='offcanvas')
        span.mdi.mdi-menu
  // partial
  .container-fluid.page-body-wrapper
    // partial:../../partials/_settings-panel.html
    .theme-setting-wrapper
      #settings-trigger
        i.ti-settings
      #theme-settings.settings-panel
        i.settings-close.ti-close
        p.settings-heading SIDEBAR SKINS
        #sidebar-light-theme.sidebar-bg-options.selected
          .img-ss.rounded-circle.bg-light.border.me-3
          | Light
        #sidebar-dark-theme.sidebar-bg-options
          .img-ss.rounded-circle.bg-dark.border.me-3
          | Dark
        p.settings-heading.mt-2 HEADER SKINS
        .color-tiles.mx-0.px-4
          .tiles.success
          .tiles.warning
          .tiles.danger
          .tiles.info
          .tiles.dark
          .tiles.default
    #right-sidebar.settings-panel
      i.settings-close.ti-close
      ul#setting-panel.nav.nav-tabs.border-top(role='tablist')
        li.nav-item
          a#todo-tab.nav-link.active(data-bs-toggle='tab' href='#todo-section' role='tab' aria-controls='todo-section' aria-expanded='true') TO DO LIST
        li.nav-item
          a#chats-tab.nav-link(data-bs-toggle='tab' href='#chats-section' role='tab' aria-controls='chats-section') CHATS
      #setting-content.tab-content
        #todo-section.tab-pane.fade.show.active.scroll-wrapper(role='tabpanel' aria-labelledby='todo-section')
          .add-items.d-flex.px-3.mb-0
            form.form.w-100
              .form-group.d-flex
                input.form-control.todo-list-input(type='text' placeholder='Add To-do')
                button#add-task.add.btn.btn-primary.todo-list-add-btn(type='submit') Add
          .list-wrapper.px-3
            ul.d-flex.flex-column-reverse.todo-list
              li
                .form-check
                  label.form-check-label
                    input.checkbox(type='checkbox')
                    |                       Team review meeting at 3.00 PM
                i.remove.ti-close
              li
                .form-check
                  label.form-check-label
                    input.checkbox(type='checkbox')
                    |                       Prepare for presentation
                i.remove.ti-close
              li
                .form-check
                  label.form-check-label
                    input.checkbox(type='checkbox')
                    |                       Resolve all the low priority tickets due today
                i.remove.ti-close
              li.completed
                .form-check
                  label.form-check-label
                    input.checkbox(type='checkbox' checked='')
                    |                       Schedule meeting for next week
                i.remove.ti-close
              li.completed
                .form-check
                  label.form-check-label
                    input.checkbox(type='checkbox' checked='')
                    |                       Project review
                i.remove.ti-close
          h4.px-3.text-muted.mt-5.fw-light.mb-0 Events
          .events.pt-4.px-3
            .wrapper.d-flex.mb-2
              i.ti-control-record.text-primary.me-2
              span Feb 11 2018
            p.mb-0.font-weight-thin.text-gray Creating component page build a js
            p.text-gray.mb-0 The total number of sessions
          .events.pt-4.px-3
            .wrapper.d-flex.mb-2
              i.ti-control-record.text-primary.me-2
              span Feb 7 2018
            p.mb-0.font-weight-thin.text-gray Meeting with Alisa
            p.text-gray.mb-0 Call Sarah Graves
        // To do section tab ends
        #chats-section.tab-pane.fade(role='tabpanel' aria-labelledby='chats-section')
          .d-flex.align-items-center.justify-content-between.border-bottom
            p.settings-heading.border-top-0.mb-3.pl-3.pt-0.border-bottom-0.pb-0 Friends
            small.settings-heading.border-top-0.mb-3.pt-0.border-bottom-0.pb-0.pr-3.fw-normal See All
          ul.chat-list
            li.list.active
              .profile
                img(src='../../images/faces/face1.jpg' alt='image')
                span.online
              .info
                p Thomas Douglas
                p Available
              small.text-muted.my-auto 19 min
            li.list
              .profile
                img(src='../../images/faces/face2.jpg' alt='image')
                span.offline
              .info
                .wrapper.d-flex
                  p Catherine
                p Away
              .badge.badge-success.badge-pill.my-auto.mx-2 4
              small.text-muted.my-auto 23 min
            li.list
              .profile
                img(src='../../images/faces/face3.jpg' alt='image')
                span.online
              .info
                p Daniel Russell
                p Available
              small.text-muted.my-auto 14 min
            li.list
              .profile
                img(src='../../images/faces/face4.jpg' alt='image')
                span.offline
              .info
                p James Richardson
                p Away
              small.text-muted.my-auto 2 min
            li.list
              .profile
                img(src='../../images/faces/face5.jpg' alt='image')
                span.online
              .info
                p Madeline Kennedy
                p Available
              small.text-muted.my-auto 5 min
            li.list
              .profile
                img(src='../../images/faces/face6.jpg' alt='image')
                span.online
              .info
                p Sarah Graves
                p Available
              small.text-muted.my-auto 47 min
        // chat tab ends
    // partial
    // partial:../../partials/_sidebar.html
    nav#sidebar.sidebar.sidebar-offcanvas
      ul.nav
 
        li.nav-item.nav-category Forms and Datas
        li.nav-item
          a.nav-link(href='http://localhost:3000/backend/tables')
            i.menu-icon.mdi.mdi-table
            span.menu-title Tables
        li.nav-item
          a.nav-link(href='http://localhost:3000/backend/charts')
            i.menu-icon.mdi.mdi-chart-line
            span.menu-title Charts

        li.nav-item.nav-category pages
        li.nav-item
          a.nav-link(data-bs-toggle='collapse' href='#auth' aria-expanded='false' aria-controls='auth')
            i.menu-icon.mdi.mdi-account-circle-outline
            span.menu-title User Pages
            i.menu-arrow
          #auth.collapse
            ul.nav.flex-column.sub-menu
              li.nav-item
                a.nav-link(href='http://localhost:3000/backend/logout')  Logout 

    .main-panel
    
        div.border-top

// page-body-wrapper ends
// container-scroller
// plugins:js
script(src='../vendors/js/vendor.bundle.base.js')

// endinject
// Plugin js for this page
script(src='../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')
// End plugin js for this page
// inject:js
script(src='../../js/off-canvas.js')
script(src='../../js/hoverable-collapse.js')
script(src='../../js/template.js')
script(src='../../js/settings.js')
script(src='../../js/todolist.js')
// endinject
// Custom js for this page
// End custom js for this page
