.publications-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
  /* Establece la altura máxima del contenedor */
  width: 100%;
  margin: 0 auto;
}

.publication {
  display: flex;
  margin-bottom: 16px;
}

.image-container {
  width: 100px;
  height: 100px;
  margin-right: 16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publication-content {
  flex: 1;
}

.publication-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.publication-description {
  font-size: 14px;
  color: #888;
}


nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-icon {
  color: #fff;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #555555;
}

.nav-menu {
  width: 100%;
  height: 70px;
  background-color: rgb(10, 3, 45);
}

body {
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
}